<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.hugeterry.coderfun">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>


    <application
        android:name=".CoderfunApplication"
        android:allowBackup="true"
        android:icon="@mipmap/coderfun_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ReadActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.WebAcitivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ImageActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.AboutActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.OpenSourceActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService"></service>
        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="56cc45cc67e58e24e500334e" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Wandoujia" />
    </application>

</manifest>
